body{
  margin: 0;
  padding: 0 0;
  font-family: sans-serif;
}
.main{
  background: #071ff7;
  background: linear-gradient(0deg,rgba(7, 31, 247, 1) 22%, rgba(38, 47, 150, 1) 100%);
}
header{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 15px 8%;
  border-bottom: 1px solid #6e83da;
}
header div{
  display: flex;
  width: calc(100% - 155px);
  height: auto;
  position: relative;
}
header a,
header a:visited{
  display: block;
  width: auto;
  padding: 12px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  position: relative;
}
header img{
  display: block;
  width: 80px;
}
.boyGirl{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}
.boyGirl h1{
  display: block;
  width: 45%;
  height: auto;
  color: #fff;
  font-size:clamp(10px, 50vw, 70px);
  line-height: 85px;
  text-align: right;
}
.boyGirl h1{
  display: block;
  width: 45%;
  height: auto;
  color: #fff;
}
footer{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 15px 8%;
  background-color: #11257d;
  color: #fff;
  text-align: center;
}
footer h3{
  display: block; 
  width: 100%;
}
.listado{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  width: 100%;
  width: clamp(320px, 90vw, 1200px);
  margin: 80px auto;
}
.card{
  width: 18%;
  padding: 7px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  margin: 1%;
  background-color: #fff;
  border-radius: 13px;
}
.card a{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.addtoCart{
  position: relative;
  z-index: 2;
  border-radius: 20px;
  background-color: #9290eb;
  width: 80%;
  height: 35px;
  text-align: center;
  color: #fff;
  margin: 20px auto;
  transition: all .13s ease;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.addtoCart:active{
  transform:scale(1.1);
}
.addtoCart:hover{
  background-color: #1b2ed6;
}
.add1{
  display: block;
  width: 100%;
  height: auto;
  padding: 8px 0;
  box-sizing: border-box;
}
.butCount{
  display: inline-flex;
  width: 25px;
  line-height: 25px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fff;
  color: #0e23e0;
  border-radius: 200px;
  font-size: 30px;
}
.totalItems{
  width: 60px;
  display: inline-block;
}
.propi{
  font-size: 13px;
  line-height: 15px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 200;
  margin: 8px 0;
}
.valor{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  display: block;
  width: 100%;
  text-align: center;
}
.card img{
  display: block;
  width: auto;
  margin:auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height:190px;
  position: relative;
}
.detallon{
  display: flex;
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.detallon img{
  width: 50%;
  display: block;
  height: auto;
  margin: 0 12px 0 0;
}
.detallon p{
  width: 50%;
  display: block;
  height: auto;
  margin: 0 0 0 12px;
}
.detallon p span{
  text-align: left;
}
.elCarrito{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  transition: all .13s ease;
}
.elCarrito a,
.elCarrito a:visited{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  z-index: 2;
  transition: all .13s ease;
}
.elCarrito:hover{
  transform: scale(1.1);
}
.elCarrito img{
  display: block;
  width: 60%;
  position: relative;
  z-index: 1;
  filter: brightness(0);
}
.elCarrito span{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 18px;
  border-radius: 20px;
  background-color: #fff;
  color: #172393;
  position: absolute;
  bottom: -15px;
  right: -15px;
}
@media screen and (max-width:1020px){
.card{
  width: 31%;
}
}
@media screen and (max-width:450px){
.card{
  width: 45%;
}
header{
  justify-content: center;
}
header div{
  width: 100%;
  justify-content: center;
}
.detallon{
  flex-wrap: wrap;
}
.detallon img,
.detallon p{
  width: 100%;
}
.detallon p span{
  text-align: center;
}
}